@tailwind base;
@tailwind components;
@tailwind utilities;

.scanner-container {
  width: 100%;
  height: 320px; /* Puedes ajustar la altura según tus necesidades */
  position: relative;
  border: 2px solid yellow; /* Opcional: para visualizar el contenedor */
  background-color: black; /* Opcional: para un mejor contraste */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Asegura que el contenido adicional se oculte */
}

.scanner-container .scanner {
  width: 100%;
  height: 100%;
  position: absolute;
}

.scanner-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.scanner-container .overlay .overlay-inner {
  width: 90%;
  height: 40%; /* Ajusta esta altura para hacer la superposición más rectangular */
  border: 2px solid red; /* El color y grosor del borde de la superposición */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
}
